In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("bill_bim.csv")

In [3]:
data.head(5)
data.shape

(1372, 5)

In [4]:
data.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       1
dtype: int64

In [5]:
data_clean = data.dropna()
data_clean.describe()

          Variance     Skewness      Entropy        Class
count  1371.000000  1371.000000  1371.000000  1371.000000
mean      0.460833     1.922327    -1.193221     0.444931
std       2.871808     5.873851     2.109832     0.497139
min      -7.042100   -13.773100    -8.548200     0.000000
25%      -1.774700    -1.711300    -2.428000     0.000000
50%       0.508130     2.313400    -0.591820     0.000000
75%       2.861650     6.806900     0.396105     1.000000
max       6.824800    12.951600     3.987100     1.000000

In [6]:
print(data_clean.shape)

(1371, 5)

In [7]:
data_clean.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [8]:
num_of_numerical_cols = data_clean._get_numeric_data().columns.shape[0]
print(num_of_numerical_cols, 'numerical columns')
name_of_numerical_cols = data_clean._get_numeric_data().columns
print(name_of_numerical_cols)

4 numerical columns
Index(['Variance', 'Skewness', 'Entropy', 'Class'], dtype='object')

In [13]:
x = data_clean[['Variance','Skewness','Curtosis','Entropy','Class']]
y = data_clean[['Class']]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.4, random_state = 0 )

In [14]:
print('x_train = ', x_train.shape)
print('x_test = ', x_test.shape)
print('y_train = ', y_train.shape)
print('y_test = ', x_test.shape)

x_train =  (822, 5)
x_test =  (549, 5)
y_train =  (822, 1)
y_test =  (549, 5)

In [17]:
classifier=RandomForestClassifier(n_estimators=20, random_state = 0)
classifier.fit(x_train,y_train)

<ipython-input-17-bbb53ea21c9a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20, random_state=0)

In [18]:
predictions=classifier.predict(x_test)

In [20]:
confusion_array = sklearn.metrics.confusion_matrix(y_test,predictions)
print(confusion_array)

[[305   0]
 [  0 244]]

In [21]:
print('TN = ', confusion_array[0,0] ) # True Negative
print('FN = ', confusion_array[1,0] ) # False Negative
print('TP = ', confusion_array[1,1] ) # True Positive
print('FP = ', confusion_array[0,1] ) # False Positive

TN =  305
FN =  0
TP =  244
FP =  0

In [23]:
classifier.score(x_test, y_test)

1.0

In [24]:
sklearn.metrics.accuracy_score(y_test, predictions)

1.0